DB_USERNAME=ruleup
DB_PASSWORD=ruleup_local_pw

JWT_SECRET=replace_me

KAKAO_REST_API_KEY=replace_me
KAKAO_CLIENT_SECRET=replace_me
KAKAO_REDIRECT_URI=ruleup://auth/callback

GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
GOOGLE_REDIRECT_URI=ruleup://auth/callback